<div id ="word_test"><h3>{{word_test}}<h3></div>
<div>Выберите ниже перевод слова</div>

<br /> 

    <div class="answer" ng-repeat="button in modes">
            <input type="radio" ng-change="check_answer(button.id, button.word_variant)" ng-model="data.mode" ng-value="{{button.id}}" name="modes" />{{button.word_variant}}
    </div>
    
<br />
        
<div class="message">{{message}}</div>
