<!doctype html>
<html ng-app="testApp">

<head>
<meta charset="utf-8">

{% block javascripts %}

    <!-- script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script !-->
    <script type="text/javascript" src="{{ asset('bundles/vocabulary/js/angular.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/vocabulary/js/app.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/vocabulary/js/controllers/TestController.js') }}"></script>
    
{% endblock javascripts %}

{% block stylesheets %}

  <link rel="stylesheet"  type="text/css" href="{{ asset('bundles/vocabulary/css/test.css') }}" />
  
{% endblock %}

</head>

<body>

<div id="main" ng-controller="TestController">

<h1>Проверка знания слов</h1>

<div ng-switch on="mode"> 

<div class="finish_message"></div>

<div ng-switch-when="start">
    Введите имя и нажмите Кнопку "Начать тест"<br /><br />
    <label>Введите имя:</label>
    <input type="text" ng-model="username" placeholder="Введите имя">
    <p><button type="submit" ng-click="begin_test(username)">Начать тест</button></p>
</div>
 
<div ng-switch-when="test">
    <div id="form" ng-show="block_visible.visible">
        <form name="testForm">
                <div ng-include src=" '{{ asset("bundles/vocabulary/view/testquestion.html") }}' "></div>
        </form>        
    </div>
    
    <div class="wait_message" ng-hide="block_visible.visible">Ждите...</div>
        
</div>
 
</div>
 
</div>


</body>
</html>
